
#header, #footer {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 15px;
}

#header {
    background-color: rgb(209, 247, 212);
}

#content {
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(215, 232, 247);
    padding: 5px 15px;
}
#content h2 {
    font-size: 2rem;
}
#content p {
    font-size: 1.1rem;
    color: blue;
}

#footer {
    background-color: rgb(242, 219, 202);
}